body {
  font-family: "Lato", sans-serif;
}

h1, h2 {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
  text-transform: uppercase;
}

section {
  padding: 45px 0 80px 0;
}

/* ABOUT */
#about {
  padding-top: 100px;
  background: rgba(31, 42, 77, 0.84);
}
#about .profile-picture {
  text-align: center;
  margin: 0 auto;
  float: none;
}
#about .profile-picture img {
  max-width: 100%;
  height: auto;
}
#about .about__heading {
  text-align: center;
  padding-bottom: 40px;
}
#about .about__heading h1 {
  color: #fff;
  text-transform: uppercase;
}
#about .about__heading h3 {
  color: #000;
}
#about .about__heading .heading__button1 {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  margin-top: 20px;
  padding: 18px 50px;
  border-radius: 3px;
  transition: all 0.3s ease-in 0s;
}
#about .about__heading .heading__button1:hover {
  background: #fff;
  color: rgba(31, 42, 77, 0.84);
  text-decoration: none;
}

/* SKILLS */
#skills .skllis__red-divider {
  width: 100px;
  height: 2px;
  background: rgba(31, 42, 77, 0.84);
  margin: 0 auto;
}
#skills h2 {
  text-transform: uppercase;
  color: rgba(31, 42, 77, 0.84);
  margin-top: 2%;
  text-align: center;
}
#skills .progress {
  height: 20%;
  margin: 30px 20px;
  background: #ddd;
}
#skills .progress-bar {
  background: rgba(31, 42, 77, 0.84);
}
#skills .progress-bar h5 {
  text-shadow: 1px 1px 1px 1px #ddd;
}

/* EXPERIENCE */
#experience {
  background: rgba(31, 42, 77, 0.84);
}
#experience .experience__white-divider {
  width: 100px;
  height: 2px;
  background: #fff;
  margin: 0 auto;
}
#experience h2 {
  color: #fff;
}
#experience .timeligne {
  padding: 30px 10px;
  position: relative;
}
#experience .timeligne:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 5px;
  background: #eab52b;
  left: 50%;
  margin-left: -2.5px;
}
#experience .timeligne li .timeligne__badge {
  color: rgba(31, 42, 77, 0.84);
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  background: #ddd;
  border-radius: 50%;
}