body
{
    font-family: 'Lato', sans-serif;
}

h1, h2
{
  text-align: center;
}

h1, h2, h3, h4, h5
{
    font-weight: bold;
    text-transform: uppercase;
}

section
{
  padding: 45px 0 80px 0;
}

.fa-connectdevelop
{
  font-size: 8em;
  color: $colorGris;
  margin-bottom: 5%;
}

.fa-code
{
  font-size: 6em;
  color: $colorGris;
  margin-bottom: 5%;
  text-shadow: 2px 2px 2px $color2;
}
