/* FOOTER */

footer
{
background: $primaryColor;
  .white-divider
  {
    @include whiteDivider;
  }
  .fa-chevron-up
  {
    font-size: 35px;
    color: $colorGris;
    height: 45px;
    &:hover
    {
      font-size: 40px;
    }
  }
  .footer_contact
  {
    display: flex;
    justify-content: space-around;
  }
  .fa-envelope, .fa-github
  {
    font-size: 40px;
    color: $timeligneColor;
    &:hover
    {
      font-size: 45px;
    }
  }
}
