/* HEADER */

header
{
  width: 100%;
  .navbar
  {
    background: $primaryColor;
    .fa-bars
    {
      color: $colorGris;
      font-size: 2em;
    }
    ul
    {

      @include navPosition;
      li
      {
        // list-style: none;
        // text-decoration: none;

        a
        {
          text-decoration: none;
          color: $colorGris;
          &:hover
          {
            color: $timeligneColor;
          }
        }
      }
    }
  }

}
