

@mixin imgPosition
{
    text-align: center;
    margin: 0 auto;
    float: none;
}

@mixin headingText
{
    text-align: center;
    padding-bottom: 40px;
}

@mixin button1
{
    font-weight: bold;
    text-transform: uppercase;
    color: $color2;
    border: 1px solid $color2;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}

@mixin hoverButton1
{
    background: $color2;
    color: $primaryColor;
    text-decoration: none;
}

@mixin redDivider
{
  width: 100px;
  height: 2px;
  background: $primaryColor;
  margin: 0 auto;
}

@mixin whiteDivider
{
  width: 100px;
  height: 2px;
  background: $color2;
  margin: 0 auto;
}

@mixin h2SectionSkills
{
  text-transform: uppercase;
  color: $primaryColor;
  margin-top: 2%;
  text-align: center;
}

@mixin progressBar
{
  height: 20%;
  margin: 30px 20px;
  background: $colorGris;
}

@mixin timeLine
{
  padding: 30px 10px;
  position : relative;
  &:before
  {
      top:0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 5px;
      background: $timeligneColor;
      left: 50%;
      margin-left: -2.5px;
  }
}


@mixin timeLigneBadgePosition
{
  color: $primaryColor;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  background: #ddd;
  border-radius: 50%;
}

@mixin liPanel
{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}

@mixin panel-container1_3
{
  width: 50% ;
}

@mixin panelInverted
{
  width: 50%;
  margin-left: 53%;
}

@mixin petiteFlecheAfter
{
  &:after
  {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

@mixin timeLignePanel
{
  background: darken($color2, 20);
  width: 90%;
  border: 1px solid $color2;
  border-radius: 7px;
  padding: 20px 25px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  &:after{
    position: absolute;
    top: 10px;
    right: -14px;
    display: inline-block;
    border-top: 12px solid transparent;
    border-left: 14px solid darken($color2, 20);
    border-right: 0 solid darken($color2, 20);
    border-bottom: 14px solid transparent;
    content : " ";
  }
}
