@import "_variables.scss";
@import "_mixins.scss";
@import "_bases.scss";
@import "_footer.scss";


/* ABOUT */
#about
{
    padding-top: 100px;
    background: $primaryColor;

    .profile-picture
    {
        @include imgPosition;
        img
        {
            max-width: 100%;
            height: auto;
        }
    }
        .about__heading
        {
            @include headingText;
            h1
            {
                color: $color2;
                text-transform: uppercase;
            }
            h3
            {
                color: $color3;
            }
            .heading__button1
            {
                @include button1;
                &:hover
                {
                    @include hoverButton1;
                }
            }
        }
}

/* SKILLS */
#skills
{
  .skllis__blue-divider
  {
    @include blueDivider;
  }
  h2
  {
    @include h2SectionSkills;
  }
  .progress
  {
    @include progressBar;
  }
  .progress-bar
  {
    background: $primaryColor;
    h5
    {
      text-shadow: 1px 1px 1px 1px $colorGris;
    }
  }
}


/* EXPERIENCE */

#experience
{
  .experience__white-divider
  {
    @include whiteDivider;
  }
    background: $primaryColor;
    h2
    {
      color: $color2;
    }
      .timeligne
      {
        @include timeLine;
        li
        {
          @include liPanel;
          .timeligne__badge
          {
            @include timeLigneBadgePosition;
          }
        }
        .timeligne__panel-container
        {
          @include panel-container1_3;
        }
        .timeligne__panel-container-inverted
        {
          @include panelInverted;
          .timeligne__panel
          {
            @include petiteFlecheAfter;
          }
        }
        .timeligne__panel
        {
          @include timeLignePanel;
          .timeligne__heading
          {
            h4
            {
                color: darken($primaryColor, 5);
                text-shadow: 2px 2px 2px $colorGris;
            }
          }
        }
      }
    }

/* EDUCATION */

#education
{
  .education-block
  {
  @include block;
    h3
    {
      font-size: 17px;
      color: $color2;
    }
    .fa-graduation-cap
    {
      color: $timeligneColor;
    }
    h4
    {
      color: darken($color2, 10);
    }
  }
}

/* PORTFOLIO */

#portfolio
{
  background: $primaryColor;
  h2
  {
    color: $timeligneColor;
  }
  .white-divider
  {
    @include whiteDivider;
  }
  .portfolio__container
  {
    text-align: center;
  }
  .imgPortfolio
  {
    @include imgStyle;
  }

}
